{% extends "base.html" %}
    {% block body %}
    <h2>Artificial Intelligence</h2>
    <p>I am fascinated by Artificial Intelligence also known as AI. When I was younger, I was fascinated by self-driving cars and robots in sci-fi movies. To see them become a reality has just blown my mind and to know that if I apply myself and work hard, 
        I could be involved in creating software to help facilitate this type of technology.</p>
    <p>To learn more about Artificial Intelligence click <a href="https://searchenterpriseai.techtarget.com/definition/AI-Artificial-Intelligence">Here</a></p>    
     <h2>Facial recognition and biometric security </h2> 
     <p>Facial recognition and biometric security is another branch of computing technology that fascinates me for both positive and negative reasons. It can be extremely helpful and has the potential to do great harm to society.
          It could be used to find a missing child but at the same time it could be used by the state to track and harass regular people whom the government has a problem due to their political stance</p> 
          <p>To learn more about facial Recognition click <a href="https://searchenterpriseai.techtarget.com/definition/AI-Artificial-Intelligence" target="_blank">Here</a></p>         
    {% endblock %} 