{% extends "base.html" %}
    {% block body %}
    <h2>Artificial Intelligence</h2>
    <p>I am fascinated by Artificial Intelligence also known as AI. When I was younger, I was fascinated by self-driving cars and robots in sci-fi movies. To see them become a reality has just blown my mind and to know that if I apply myself and work hard, 
        I could be involved in creating software to help facilitate this type of technology.</p>
    <p>To learn more about Artificial Intelligence click <a href="https://searchenterpriseai.techtarget.com/definition/AI-Artificial-Intelligence" target="_blank">Here</a></p>    
             
    {% endblock %} 