<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{MyWebsite}}</title>
     <link rel="stylesheet" href="{{url_for('static', filename='style/stylesheet.css')}}">
    </head>
    <body>
       <heading id="head">
           
         <img src="/static/photos/Davidson_Keith_Photo1.jpg" alt="Photo of Keith Davidson" class="center" style="border-radius: 50%;" width="150" height="150">
          
        </heading>
        <div id="nav">
         <nav id="navbar">
            <a href="/">Home</a> | 
            <a href="/bio">My Bio</a> |
            <a href="/CV">My CV</a> |
            <a href="/interests">Interest</a> |
            <a href="/technologies">Technologies</a> |
            <a href="/showform">Leave Message</a> |
            <a href="/getdata">Recent Messages</a> |
        </nav>
        </div>
        
        <h1>{{ heading }}</h1>
        

        {% block body %}
        {% endblock %}
        
        <br/>
        <hr/>
        <div class="bottom" >
        <h4>copyright (c) 2021 Keith</h4>
        </div> 
        
     </body>
    
</html>
