{% extends "base.html" %}
    {% block body %}
    <h3>PERSONAL PROFILE:</h3>
    <ul>
        <li>Third year student in Institute of Technology Carlow, studying a Bachelor of Science 
            in Software Development. I am tracking a Distinction for this year. Year 1 received a 
            Distinction with 84% Grade Average overall.</li>
        <li>Spent this summer learning Python with an eCollege online course.</li> 
        <li>Have 25 years’ experience in the hospitality industry with 20 years in management 
            as a Chef. I have run a kitchen on a yacht where I was the only cook to a kitchen 
            where I had 20 cooks under me. These experiences have humbled me to not expect 
            some to do something I am not willing to do and to respect everyone regardless of 
            their title.</li> 
        <li>Being a Chef in the Caribbean and remote islands such as St. John USVI and Block 
            Island, Rhode Island, USA, I’ve learned problem solving, patience, sense of urgency 
            and teamworking skills.</li>          
    </ul>
    <br/>
    <h3>TECHNICAL SKILLS:</h3>
    <ul>
        <li> Programming languages: HTML, JavaScript, CSS, PHP, Java, Python, SQL  </li>
        <li>Languages: Intermediate Spanish</li>
    </ul>
        
    {% endblock %}    