{% extends "base.html" %}
    {% block body %}
   <div class="cvContainer">
     <h1>Keith Davidson</h1>  
    <h2>PERSONAL PROFILE:</h2>
    <ul>
        <li>Third year student in Institute of Technology Carlow, studying a Bachelor of Science 
            in Software Development. I am tracking a Distinction for this year. Year 1 received a 
            Distinction with 84% Grade Average overall.</li>
        <li>Spent this summer learning Python with an eCollege online course.</li> 
        <li>Have 25 years’ experience in the hospitality industry with 20 years in management 
            as a Chef. I have run a kitchen on a yacht where I was the only cook to a kitchen 
            where I had 20 cooks under me. These experiences have humbled me to not expect 
            some to do something I am not willing to do and to respect everyone regardless of 
            their title.</li> 
        <li>Being a Chef in the Caribbean and remote islands such as St. John USVI and Block 
            Island, Rhode Island, USA, I’ve learned problem solving, patience, sense of urgency 
            and teamworking skills.</li>          
    </ul>
    <br/>
    <h2>TECHNICAL SKILLS:</h2>
    <ul>
        <li> Programming languages: HTML, JavaScript, CSS, PHP, Java, Python, SQL  </li>
        <li>Languages: Intermediate Spanish</li>
    </ul>
    <h2>EDUCATION:</h2>
    <ul> 
    <h3>9/2019-Present Institute of Technology Carlow</h3>
    <h4>Bachelor of Science (Honours) Software Development</h4>
    <ul>
    <li>Year 1 G.P.A of 84%</li>
    <li>Year 2 G.P.A of 76%</li>
    </ul>
    
     
     <ul>
         <h3>2021-Present eCollege.ie<h3>
         <h4>Introduction to Programming using Python </h4>    
     </ul>
    
    <ul>
         <h3>2018-201 Carlow Institute of Further Education </h3>
         <h4>Multimedia Fundamentals </h4>
         <ul>
         <li>Achieved a Distinction with a G.P.A over 80%</li>
     </ul>
     
         <h3>2017-2018 Achieved a Distinction with a G.P.A over 80%</h3>
         <h4>Microsoft Technology Associate (MTA) in Networking Fundamentals</h4>
     <ul>
         <li>Achieved a Distinction and MTA Networking Certificate </li>
     </ul>
    
         <h3>2014 Suffolk County Department of Health </h3>
         <h4>Food Managers Certificate</h4>
 
    
         <h3>1999-2001 Johnson & Wales University. Providence, Rhode Island </h3>
         <h4>Studies in Culinary Arts.</h4>
    
     
         <h3>1994-1995 Nassau Community College. Garden City, New York</h3>
         <h4>Studies in Hotel & Restaurant Management.</h4>
    </ul>
    <h2>Work Experience: </h2>
    <ul>
    
        <h3>3/2016-5/2018 Scouts Place, Saba, Dutch Caribbean</h3>
        <h4>Executive Chef</h4>
    
        <h3>8/2015-3/2016 Brasserie 15, Carlow, Ireland</h3>
        <h4>Chef de Tournant</h4>

        <h3>10/2013-1/2015 Vitae Restaurant and Wine Bar, Huntington, NY</h3>
        <h4>Executive Chef</h4>

        <h3>03/2010- 10/2013 Montauk Lake Club. Montauk, NY</h3>
        <h4>Executive Chef</h4>

        <h3>11/2008 – 9/2009 Caneel Bay Resort. St. John, USVI.</h3>
        <h4>Restaurant Chef</h4>
    </ul>
   
   </div>
    {% endblock %}    