{% extends "base.html" %}
    {% block body %}
    <form action="/processform" method="post">
        <fieldset>
            <legend>Leave Message</legend>
            <label for="name"> Name : </label><br/>
            <input type="text" name="name" placeholder="Name"><br/>
            <label for="email">E-mail: </label><br/>
            <input type="email" name="email" placeholder="Email"><br/>
            <label for="message">Please leave a message: </label><br/>
            <input type="textbox" name="message" placeholder="Enter your message here..."><br/>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

   
    {% endblock %}    