{% extends "base.html" %}
    {% block body %}
    
     <h2>Quantum Computing </h2> 
     <p>Facial recognition and biometric security is another branch of computing technology that fascinates me for both positive and negative reasons. It can be extremely helpful and has the potential to do great harm to society.
          It could be used to find a missing child but at the same time it could be used by the state to track and harass regular people whom the government has a problem due to their political stance</p> 
          <p>To learn more about Facial Recognition click <a href="https://www.google.com/search?q=facial+recognition+computing+tech&oq=fac&aqs=chrome.1.69i59l2j69i57j69i60l3j69i65j69i60.4944j0j7&sourceid=chrome&ie=UTF-8" target="_blank">Here</a></p>         
    {% endblock %} 