{% extends "base.html" %}
    {% block body %}
    
     <h2>Quantum Computing </h2> 
     <p>Quatum computing is base on quantum physics princibles of superposition and entanglement.Unlike a normal computer bit, which can be 0 or 1, a qubit can be either of those, or a superposition of both 0 and 1. The computing power grows exponentially with each qubit and the power is vast and has the potential of solving problem which take massive computing power.</p> 
          <p>To learn more about Quatum Computing click <a href="https://www.google.com/search?q=quantum+computing+technology&sxsrf=AOaemvIOkVun2XMEkse8YuFw-OuDaZl3Lw:1635859628473&source=lnms&sa=X&ved=0ahUKEwizlbqA5PnzAhU7QEEAHStyCGYQ_AUI0AQoAA" target="_blank">Here</a></p>         
    {% endblock %} 